name: TCP Assignment Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11

    - name: Install dependencies
      run: pip install pytest

    - name: Clear logs before pytest
      run: |
        rm -f tcp_log_C.json
        rm -f tcp_log_S.json

    - name: Run automated tests ONLY through pytest
      run: pytest -p test.py
